services:
  app:
    container_name: jos-local-api
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./:/app
      - cargo-cache:/usr/local/cargo/registry
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-jos}
      - RUST_LOG=info
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

  db:
    container_name: jos-local-db
    image: postgres:18.0-alpine3.22
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-jos}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-jos}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  cargo-cache: