name: Rust CI/CD

on:
  pull_request:
    branches: [ main, development ]
  push:
    branches: [ main, development ]

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/jos
  BINARY_NAME: jos

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/testdb

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain com MUSL
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: x86_64-unknown-linux-musl

      - name: Install MUSL Cross-Compilation Toolchain
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install and Run Migrations
        run: |
          cargo install sqlx-cli --no-default-features --features postgres
          sqlx migrate run

      - name: Check Formatting & Linter
        run: |
          cargo fmt --check
          cargo clippy -- -D warnings

      - name: Run Tests
        run: cargo test

      - name: Build static release binary
        run: |
          cargo sqlx prepare
          SQLX_OFFLINE=true cargo build --release --target=x86_64-unknown-linux-musl

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}
          path: target/x86_64-unknown-linux-musl/release/${{ env.BINARY_NAME }}

  build-and-push:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}

      - name: Make binary executable
        run: chmod +x ./${{ env.BINARY_NAME }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./prod/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest, ${{ env.IMAGE_NAME }}:${{ github.sha }}
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,scope=${{ github.workflow }},mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Trigger Dokploy Webhook
        run: curl -X POST ${{ secrets.DOKPLOY_WEBHOOK_URL }}